<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Killer_app.Properties.Settings.Killer_appConnectionString"
            connectionString="Data Source=DESKTOP-6RQU3QV\SQLEXPRESS;Initial Catalog=Killer-app;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>