################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SocialEvent/MediaSharingSystem/obj/Release
/SocialEvent/.vs/config/applicationhost.config
